name: Apply MSK ACL

on:
  workflow_dispatch:
    inputs:
      cluster_name:
        description: 'MSK Cluster Name'
        required: true
      topic_name:
        description: 'Kafka Topic Name'
        required: true
      username:
        description: 'Username (must exist in Secrets Manager)'
        required: true
      permission:
        description: 'Permission'
        required: true
        type: choice
        options:
          - READ
          - WRITE
          - ALL

permissions:
  id-token: write
  contents: read

jobs:

  # ══════════════════════════════════════
  # STAGE 1 - VALIDATION
  # ══════════════════════════════════════
  validation:
    runs-on: self-hosted
    outputs:
      bootstrap_broker: ${{ steps.validate.outputs.bootstrap-broker }}
      cluster_arn: ${{ steps.validate.outputs.cluster-arn }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Authenticate to AWS
        uses: ./.github/actions/aws-oidc-auth
        with:
          aws-region: us-east-1
          iam-role-arn: arn:aws:iam::972999821187:role/github-aws-oidc-role
          session-duration: '900'

      - name: Run All Validations
        id: validate
        uses: ./.github/actions/msk-safety-checks
        with:
          cluster-name: ${{ github.event.inputs.cluster_name }}
          topic-name: ${{ github.event.inputs.topic_name }}
          username: ${{ github.event.inputs.username }}
          permission: ${{ github.event.inputs.permission }}
          aws-region: us-east-1
          admin-secret-id: StrongPassword123

      - name: Cleanup
        if: always()
        run: rm -f ~/client.properties
